<!DOCTYPE html>
<html>

<head>
  <title>Helpline</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../static/css/noscript.css" />
  </noscript>
  <style>
#myInput {
  background:#E4CDA7;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin: 0 auto;
}
#myTable tr{
    width:40%;color:black; background: #C3B091;

}
#myTable tr:hover{
background-color: #533535;
}

.imp{
color:#630000;
font-size: 20px;
}




  </style>
</head>

<body class="is-preload">
  <!-- Page Wrapper -->
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1><a href="/">Techquillas</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/generic">Modules</a></li>
                <li> <a href="/helpline">Helpline</a></li>
                <li> <a href="/laws">Laws</a></li>

                <li><button onclick="signOut()" id="signOut"> SignOut/SignIn</button></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>
       <article id="main" style="background: linear-gradient(rgba(0,0,0,0.5),#ECB365), url('../static/images/helpline_page.jpg');
  background-size: cover; background-position: center;height:100vh; padding-bottom: 15px;">
         <header>
        <h2 style="text-align: center; color:white; font-size:50px;font-family: 'Kaushan Script', cursive;">Help!!</h2>

             <p style="font-family: 'Kaushan Script', cursive;">"Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world... would do this, it would change the earth." <br><strong>–William Faulkner</strong></p>
       <div class="imp">
         <p>Women Helpline ( All India ) - 1091</p>
           <p>Women Helpline Domestic Abuse  - 181</p>
           <p>Police - 100</p>
           <p>Child Helpline- 1098</p>
       </div>

         </header>

           </article>

       <div>
         <center><h1 style="color:#F0E9D2; margin-top:15px;">Search for Helpline Number</h1></center>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for state name.." style="background:#8E806A; margin-bottom:15px;" >

<table id="myTable">
  <tr class="header">
    <th style="width:60%;color:black; background: #C3B091;font-size:20px;">State</th>
    <th style="width:40%;color:black; background: #C3B091; font-size:20px;">Women Helpline Numbers</th>
  </tr>
  <tr>
    <td>Andhra Pradesh</td>
    <td>&#128222;040-23320539</td>
  </tr>
  <tr><td>Andaman and Nicobar Islands">Andaman and Nicobar Islands</td><td>&#128222;033-23595609</td></tr>
  <tr><td>Arunachal Pradesh</td><td>&#128222;0360-2214567</td></tr>
  <tr><td>Assam</td><td>&#128222;0361-2521242</td></tr>
    <tr><td>Bihar</td><td>&#128222;0612-2320047</td></tr>
    <tr><td>Chandigarh</td><td>&#128222;0172-2741900</td></tr>
    <tr><td>Chhattisgarh</td><td>&#128222;0771-2429977</td></tr>
    <tr><td>Dadar and Nagar Haveli</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Daman and Diu</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Delhi</td><td>&#128222;011-24673366</td></tr>
    <tr><td>Lakshadweep</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Puducherry</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Goa</td><td>&#128222;0832-2421208</td></tr>
    <tr><td>Gujarat</td><td>&#128222;079-23251613</td></tr>
    <tr><td>Haryana</td><td>&#128222;0124-2335100</td></tr>
    <tr><td>Himachal Pradesh</td><td>&#128222;0177-2783607</td></tr>
    <tr><td>Jammu and Kashmir</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Jharkhand</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Karnataka</td><td>&#128222;0821-2418400</td></tr>
    <tr><td>Kerala</td><td>&#128222;0471-2322590</td></tr>
    <tr><td>Madhya Pradesh</td><td>&#128222;0755-2661813</td></tr>
    <tr><td>Maharashtra</td><td>&#128222;022-22633333</td></tr>
    <tr><td>Manipur</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Meghalaya</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Mizoram</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Nagaland</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Odisha</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Punjab</td><td>&#128222;0172-2712607</td></tr>
    <tr><td>Rajasthan</td><td>&#128222;0141-2744000</td></tr>
    <tr><td>Sikkim</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Tamil Nadu</td><td>&#128222;044-28592750</td></tr>
    <tr><td>Telangana</td><td>&#128222;011-26942369</td></tr>
    <tr><td>Tripura</td><td>&#128222;0381-2323355</td></tr>
    <tr><td>Uttar Pradesh</td><td>&#128222;0522-2306403</td></tr>
    <tr><td>Uttarakhand</td><td>&#128222;011-26942369</td></tr>
    <tr><td>West Bengal</td><td>&#128222;033-23595609</td></tr>


</table>
 </div>


      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="https://github.com/akshitadixit/RAKSHA" ><span class="fa fa-github">GitHub</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Techquillas</li>
        </ul>
      </footer>
  </div>

    <!-- Scripts -->
   <script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>







</body>
</html>
