<!DOCTYPE html>
<html>

<head>
  <title>Module</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../static/css/noscript.css" />
  </noscript>
  <style>
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

  </style>
</head>

<body class="is-preload">
  <!-- Page Wrapper -->
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1><a href="/">Techquillas</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/generic">Modules</a></li>
                <li> <a href="/helpline">Helpline</a></li>
                <li> <a href="/laws">Laws</a></li>
                <li><a href="/blog">Blog</a></li>

                <li><button onclick="signOut()" id="signOut"> SignOut/SignIn</button></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>
       <article id="main" style="background: linear-gradient(rgba(0,0,0,0.5),#FF9999), url('../static/images/women_right.jpg');
  background-size: cover; background-position: center;height:100vh;">
         <header>
        <h2 style="text-align: center; color:white; font-size:100px;font-family: 'Kaushan Script', cursive;">Women's Right</h2>
        <p style="text-align: center; color:black;font-size: 30px;font-family: 'Kaushan Script', cursive;color:#A9333A;font-style: bold;">Pink doesn’t mean weak</p>
      </header>
</article>
           <div class="skills">

      <div class="skill-row">
        <img class="code-img" src="static/images/logo_1.png" alt="code-img">

        <h3>The Immoral Traffic <br>(Prevention) Act, 1956</h3>
<p> Any person who keeps or manages, or acts or assists in the keeping or management of, a brothel shall be punishable on first conviction with rigorous imprisonment for a term of not less than one year and not more than three years and also with fine which may extend to two thousand rupees and in the event of a second or subsequent conviction, with rigorous imprisonment for a term of not less than two years and not more than five years and also with fine which may extend to two thousand rupees.</p>
      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/logo_2.png" alt="chillies-img">

        <h3> The Dowry Prohibition Act, 1961<br> (28 of 1961) <br>(Amended in 1986)</h3>
<p>] If any person, after the commencement of this Act, gives or takes or abets the giving or taking of dowry, he shall be punishable 6 with imprisonment for a term which shall not be less than 7 ,five years, and with fine which shall not be less than fifteen thousand rupees or the amount of the value of such dowry, whichever is more. Provided that the Court may, for adequate and special reasons to be recorded in the judgment, impose a sentence of imprisonment for a term of less than 8 years.</p>
      </div>

                   <div class="skill-row">
        <img class="code-img" src="static/images/logo_3.png" alt="code-img">

        <h3>The Indecent Representation<br> of Women <br>(Prohibition) Act, 1986</h3>
<p>In Section 2(c) under the Indecent Representation of Women Act, 1986, the term “indecent representation” is defined as meaning “indecent representation of women” in any way to have the effect of being indignant or derogative of a woman, or of being corrupt or of being susceptible to public morality, or moralistic. Section 8 of the Indecent Representation of Women Act, 1986 states that despite all the provisions of the 1973 (2 of 1974) Criminal Procedure Code, an offence punishable in accordance with this Act is to be bailable. And any offence which is recognised under this Act will be punishable.</p>
      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/logo_4.png" alt="chillies-img">

        <h3>Protection of Women<br> from<br> Domestic Violence Act, 2005</h3>
<p>This act defines domestic violence as an attack against someone by any other person with whom that they are presently, or have been in a domestic relationship. It also provides protection for victims of domestic violence and seeks to punish the perpetrators of such crimes.It makes provision for protection orders and obliges the police to reasonably interfere in instances of domestic violence. What it fails to do is prescribe the ambit of reasonable interference and provide assistance for the interim period which lapses before the perpetrator is scheduled to be heard in court.</p>
      </div>

                        <div class="skill-row">
        <img class="code-img" src="static/images/logo_5.png" alt="code-img">

        <h3>The Sexual Harassment of Women at Workplace (PREVENTION, PROHIBITION and REDRESSAL) Act, 2013</h3>
<p>The Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013 is a legislative act in India that seeks to protect women from sexual harassment at their place of work. It was passed by the Lok Sabha (the lower house of the Indian Parliament) on 3 September 2012.Through the Criminal Law (Amendment) Act, 2013, Section 354 A was added to the Indian Penal Code that stipulates what consists of a sexual harassment offence and what the penalties shall be for a man committing such an offence. Penalties range from one to three years imprisonment and/or a fine.</p>
      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/logo_6.png" alt="chillies-img">

        <h3>The Commission of Sati (Prevention) Act, 1987 </h3>
<p>An Act to provide for the more effective prevention of the commission of sati and its glorification and for matters connected therewith or incidental thereto. This Act may be called the Commission of Sati (Prevention) Act, 1987. It extends to the whole of India except the State of Jammu and Kashmir.Whoever does any act for the glorification of sati shall be punishable with imprisonment for a term which shall not be less than one year but which may extend to seven years and with fine which shall not be less than five thousand rupees but which may extend to thirty thousand rupees.</p>
      </div>


      </div>
      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="https://github.com/akshitadixit/RAKSHA" ><span class="fa fa-github">GitHub</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Techquillas</li>
        </ul>
      </footer>
  </div>

    <!-- Scripts -->
    <script>
      function signOut() {
        //auth.signOut();
        window.location.replace("login.html");
        alert("Signed Out");
      }
    </script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>







</body>
</html>
