<!DOCTYPE html>
<html>
<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
      
    }

    body {
      font-family: "Montserrat", serif;
background-color: #eeeeee;
}

    
  </style>
  <head>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase.js"></script>
    </head>

<body>

<button id="results" onclick="k()" >"leaderBoard"</button>
	<center>
	<div class="game-quiz-container">
        
        <h3>Enter your name:</h3>
        <input id=name name="name" type="text" size="30"> <br><br>
      

        <div class="game-question-container">
          <h1 id="display-question"></h1>
        </div>

Q1.About what percentage of violent crimes is accounted for by robbery??<br>
<p><input type="radio" name="question1" id="correct1">29% <br></p>
<p><input type="radio" name="question1">88% <br></p>
<p><input type="radio" name="question1">20%<br></p>
<p><input type="radio" name="question1">10% <br></p><br>

Q2.Which of the following is a vulnerable target when having to fight off an attacker?<br>
<p><input type="radio" name="question2" >Eyes <br></p>
<p><input type="radio" name="question2">Throat<br></p>
<p><input type="radio" name="question2" >Groin <br></p>
<p><input type="radio" name="question2" id="correct2">All of the above <br></p><br>

Q3.How many counters should you learn against each type of technique?<br>
<p><input type="radio" name="question3" >3-4 <br></p>
<p><input type="radio" name="question3"id="correct3">1-2 <br></p>
<p><input type="radio" name="question3">10 or more <br></p>
<p><input type="radio" name="question3">I don't know <br></p><br>

 Q4. The most dangerous types of knifes are...<br>
<p><input type="radio" name="question4" id="correct4">.. are not shown until used. <br></p>
<p><input type="radio" name="question4">... shown and used as threats first. <br></p>
<p><input type="radio" name="question4">... easily visible before the fight begins <br></p>
<p><input type="radio" name="question4">I don't know. <br></p>
<br>
Q5. When practicing sparring against multiple opponents how many should someone progress to practicing against?<br>
<p><input type="radio" name="question5" >2 <br></p>
<p><input type="radio" name="question5">2-3 <br></p>
<p><input type="radio" name="question5">1<br></p>
<p><input type="radio" name="question5" id="correct5">4 or more<br></p><br>

Q6.Which of the following self-defense tools is all you need to protect yourself?<br>
<p><input type="radio" name="question6" >Mace/Pepper Spray <br></p>
<p><input type="radio" name="question6">Whistle <br></p>
<p><input type="radio" name="question6">Keys<br></p>
<p><input type="radio" name="question6" id="correct6">None of the Above <br></p><br>

Q7.Is sparring practice enough to help you in a fight?<br>&nbsp;&nbsp;
<p><input type="radio" name="question7" >Yes <br></p>
<p><input type="radio" name="question7">No <br></p>
<p><input type="radio" name="question7" id="correct7">It's depend <br></p>
<p><input type="radio" name="question7">I don't know <br></p><br>

Q8. Which of the following makes a useful improvised weapon?<br>
<p><input type="radio" name="question8" >Unbreakable Umbrella <br></p>
<p><input type="radio" name="question8">Pocket Change <br></p></p>
<p><input type="radio" name="question8">Backpack <br></p>
<p><input type="radio" name="question8" id="correct8">All of the Above <br></p><br>
 
Q9. hould you not walk around with your hands in your pocket?<br>
<p><input type="radio" name="question9" >Yes <br></p>
<p><input type="radio" name="question9">No <br></p>
<p><input type="radio" name="question9" id="correct9">It depends on your surroundings.<br></p>
<p><input type="radio" name="question9">I don't know. <br></p>
<br>
Q10. Making eye contact with an attack can make things worse.?<br>
<p><input type="radio" name="question10" id="correct10" >Yes <br></p>
<p><input type="radio" name="question10">No <br></p>
<p><input type="radio" name="question10">It doesn't matter <br></p>
<p><input type="radio" name="question10">I don't know. <br></p><br>
<p style="font-size:30px;display:inline-block" id="scoretext" > Your Score: </p>
        <input  id="gradepercentage"  name="score" type="number"  > </input>  <br> <br>
<input type="submit"  id="submit_btn" onclick="result()"></input> <br> <br>
</div></center>
 <button id="results" onclick="k()">
            <table id="table">
                
                    <td id="leaderBoard"></td>
                
            </table>
        </button>
 
<script src="../static/js/output.js"></script>

<script type="text/javascript">

function k() {
	window.location.replace("k.html");
}
function result()
{

	var score=0;
	//score = document.getElementById("grade-percentage").value;
	if(document.getElementById('correct1').checked)
		{	score++;
		}
	if(document.getElementById('correct2').checked)
		{	score++;
		}
	if(document.getElementById('correct3').checked)
		{	score++;
		}
		if(document.getElementById('correct4').checked)
		{	score++;
		}
		if(document.getElementById('correct5').checked)
		{	score++;
		}
		if(document.getElementById('correct6').checked)
		{	score++;
		}
		if(document.getElementById('correct7').checked)
		{	score++;
		}
		if(document.getElementById('correct8').checked)
		{	score++;
		}
		if(document.getElementById('correct9').checked)
		{	score++;
		}
		if(document.getElementById('correct10').checked)
		{	score++;
		}

//var input = document.getElementById("btn");
alert("Your score is:"+score);
var ele=document.getElementById("gradepercentage");
//var score = "";
// if (ele) {
//     score = ele.value;
// }
 //var ele=document.getElementById("gradepercentage");
 ele.value= score;
 

 //-score = document.getElementById("grade-percentage");
// score.document.getElementById("score") ;
 // to print on browser
 // document.write("Your score is:"+score);
}

</script>
 <script src="../static/js/output.js"></script>
</body>
</html>